.container {
    display: flex;
}

div.float-left {
    padding:20px;
    width: 25%;
    /* background-color: blue; */
}

div.float-middle {
    width: 706px;
}

div.float-right {
    padding-left:30px;
    width: 25%;
    /* background-color: brown; */
}

#drop-zone {
    border: 3px solid;
    display :grid;
    align-content: center;
    grid-template-rows: repeat(1,50px);
    grid-template-columns: repeat(7,100px);
}

.drop-button {
    font-weight: lighter;
}

.drop-piece-red:hover:enabled {
    color:red;
    font-weight: bold;
    font-size:2em;
}

.drop-piece-black:hover:enabled {
    color:black;
    font-weight: bold;
    font-size:2em;
}

#board {
    /* background-color: brown; */
    border: 3px solid;
    display :grid;
    grid-template-rows: repeat(6,100px);
    grid-template-columns: repeat(7,100px);
    align-content: center;
    background-color: blue;
}

.board-square {
    display: inline-block;
    background-color: aqua;
    border: 4px solid;
    border-color: blueviolet; 
    text-align: center;
    padding :5%;
    font-size: 4rem;

    height: 70%;
    width: 70%;
    border-radius: 50%;
}

.game-piece-red {
    background-color: red;
}

.game-piece-black {
    background-color: black;
}

.winner::before {
    content: "W";
    color: gold;
}

.game-button {
    width: 200px;
    height: 100px;
    background-color: blue;
    font-size: large;
    color: white;
}

#result {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    color:tomato;
}

.fixed-scrollable {
    border: solid;
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 100px;
}

.center {
    display: grid;
    place-items: center;
}